<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:javaee="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation=" http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd
http://java.sun.com/xm1/ns/javaee/web-app_2_5.xsd"
         version="2.4">
    <display-name>Lvshen Web Application</display-name>

    <servlet>
        <servlet-name>lvshen</servlet-name>
        <servlet-class>com.lvshen.demo.spring.MyDispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>myapplication.properties</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>lvshen</servlet-name>
        <!--用一个Servlet拦截所有的请求-->
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>